; Virtualmin servers to sync
;
; User must be a `webmin user` (Create a new privileged users)
; Make sure only uses `Virtualmin Virtual Servers` permission under `Servers` section.

[server_1]
host = 'virtualmin001.example.com'
port = 10000
user = 'bvirtualmin'
pass = 'MyS3Cret123AAA456'

[server_2]
host = 'virtualmin002.example.com'
port = 10000
user = 'bvirtualmin'
pass = 'MyS3Cret123BBB437'
